<div class="md-padding"  layout="column" ng-cloak>
  <md-card style="box-shadow: none">
    <md-card-content>
      <div layout="row" layout-align="center center">
        <md-input-container class="col-md-6">
          <input type="text" ng-model="searchTerm" placeholder="Enter Search Query">
        </md-input-container>
        </div>
      <div layout="row" layout-align="center center">
        <md-input-container>
          <md-select multiple ng-model="selectedEntertainmentSourceLabel" placeholder="Choose a Entertainment Data Source">
            <md-option ng-repeat="entertainmentSource in entertainmentSources" ng-value="entertainmentSource.name" ng-cloak>
              {{entertainmentSource.displayName}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <md-select ng-model="selectedEntertainmentOperation" placeholder="Choose a Entertainment Operation">
            <md-option ng-repeat="entertainmentOperation in entertainmentOperations" ng-value="entertainmentOperation.name" ng-cloak>
              {{entertainmentOperation.displayName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
       <md-button class="md-raised md-primary" ng-click="submit()"> Search </md-button>
     </div>
    </md-card-content>
  </md-card>
</div>

<custom-angular-accordion accordionData=accordianData ng-show="showAccordion">
</custom-angular-accordion>
